<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1 class='page-header'>Resend confirmation instructions</h1>

      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :class => 'form-horizontal', :role => 'form', :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :email, :class => 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= f.email_field :email, :autofocus => true, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div><%= f.submit "Resend confirmation instructions", :class => 'btn btn-default btn-success btn-sm' %></div>
      <% end %>

      <%= render "devise/shared/links" %>
