<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1 class='page-header'>Become a Muse</h1>


<p>
  We want to help students and families with demonstrated financial need pursue various musical projects. A “project” can mean taking music lessons, joining an after-school program, or attending a summer music camp. Other projects are possible as long as they help a student learn more from, and about, music.
</p>

<p>
  To make sure we provide the best experience for everyone involved, we—and the Messengers who support you—want to learn more about you. Please complete the application below. If you are a parent or guardian, you may apply on behalf of your student.
</p>

<p>
  <b>Eligibility:</b> The student must meet the following criteria:
<ul>
  <li>Be enrolled at a pre-K, elementary, or secondary school (middle/junior high or high school) at the time of application</li>
  <li>Be 19 years old or younger at the time of application</li>
  <li>Live in the United States</li>
</ul>
</p>

<p>
<b>Requirements:</b> Once you become a Muse, you will be asked to provide at minimum the following to the Messengers who support you:

<ul>
  <li>Correspondence/thank you letters</li>
  <li>Final performance video/music</li>
</ul>

<p>
We want you to know that it’s a lot easier than it seems.
</p>

<p>
Take a deep breath, and begin when you are ready. We know we are! 
</p>

<p>Questions, comments, concerns, queries? <%= link_to 'Contact Us!', contact_url %></p>


<h2>Create an account</h2>
<p>Begin by creating an account below:</p>
      <%= form_for(resource, :as => resource_name, :url => registration_url(resource_name), :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :email, 'Email', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.email_field :email, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password, :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.password_field :password, :class => 'form-control', :required => ''%>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation, :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.password_field :password_confirmation, :class => 'form-control', :required => ''%>
          </div>
        </div>

        <div><%= f.submit "Sign up", :class => 'btn btn-default btn-success' %></div>
      <% end %>

      <%= render "devise/shared/links" %>
