<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1 class='page-header'>Become a Donor</h1>

<p>
  Thank you for your interest in becoming a Donor. We are excited that you want to support the Muses and their projects, joining a community of Donors from around the world who believe in and support the power of music.
</p>

<p>
  By becoming a Donor, you have a chance to get to know the Muses you choose to support.  Upon acceptance, Muses are asked to provide correspondence letters/emails with their Donors through the duration of the project, allowing you to connect directly with the Muses you support and making this more than a digital transaction. Muses are also asked to provide a final performance video or music file to you and the Donors who support them. That way, you understand exactly how your support has transformed the Muses lives.
</p>

<h3>Frequently-Asked Questions</h3>
<p>
  <ul>
    <li>What happens to the money?</li>
    <blockquote>As soon as you click "Submit," you commit the amount specified toward the project.  The money will be released on the project end date to Project Muses for distribution. Depending on the project, this could mean the summer camp's financial aid office, the music store, the private lesson teacher, or the student him or herself. A small percentage (2.9% + 30¢) of the donation is added to sustain our organization.</blockquote>
    <li>What if the Muse doesn’t meet his/her project goal?</li>
    <blockquote>Every amount raised for the Muse's project goes toward that project. Even if only 60% is raised, the entirety of that 60% will go to fund that project.</blockquote>
    <li>Can I support more than one Muse?</li>
    <blockquote>Absolutely! You can support as many Muses as you would like.</blockquote>
    <!-- <li>I have a lot of emails and would rather not get more email updates. Can I not get updates?</li> -->
    <!-- <blockquote>Yes. Please specify your settings when you become a Messenger.</blockquote> -->
    <li>Can I directly connect with the Muse? I’d love to meet him/her.</li>
    <blockquote>Our Muses will contact you through regular correspondences and updates.  We can help you connect both through the web and through snail mail.  You will also have a chance to hear them perform through recordings. 
    
    Our goal is to one day bring all Muses and Messengers together to meet each other. Stay posted!</blockquote>
    <li>What happens if a Muse drops out or discontinues music before the deadline passes?</li>
    <blockquote>The funds dedicated to that Muse's project will be returned to the Messengers. The Messengers will have the option of rededicating those funds to another project.</blockquote>
    <li>What happens if a Muse’s project exceeds the goal?</li>
    <blockquote>Any funds that exceed the funding goal will stay with that particular Muse for a later project, should a later project be funded.</blockquote>
    <li>When do the funds disperse?</li>
    <blockquote>The funds will disperse 24 hours after the project's deadline.</blockquote>
    <li>I’m a music educator who would love for my students to learn about this. How can we become partners?</li>
    <blockquote>Please feel free to spread the message and to encourage your students to find us! Also feel free to <a href='<%= contact_url %>'>contact us</a>.</blockquote>
    <li>How do I know my money is going to the right place?</li>
    <blockquote>Students and families must first apply to join Project Muses and become a Muse. This requires not only an online application but also an interview with Project Muses. We want to ensure the veracity.
    
    You will also see your Muses regular correspondences and updates, so you know that your support has helped them progress.  You can also hear recordings of them perform.</blockquote>
  </ul>
</p>

<p>
Excited to see how far your support can go? So are we.
</p>

<p>Questions, comments, concerns, queries? <%= link_to 'Contact Us!', contact_path %></p>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :profile_picture, 'Profile Picture', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.file_field :profile_picture, :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :firstname, 'First Name', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.text_field :firstname, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :lastname, 'Last Name', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.text_field :lastname, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :email, 'Email', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.email_field :email, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password, :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.password_field :password, :class => 'form-control', :required => ''%>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation, :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.password_field :password_confirmation, :class => 'form-control', :required => ''%>
          </div>
        </div>

        <div><%= f.submit "Sign up", :class => 'btn btn-default btn-success' %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
