<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1 class='page-header'>Become a Donor</h1>

<p>
  Thank you for your interest in becoming a Donor. We are excited that you want to support the Muses and their projects, joining a community of Donors from around the world who believe in and support the power of music.
</p>

<p>
  By becoming a Donor, you have a chance to get to know the Muses you choose to support.  Upon acceptance, Muses are asked to provide correspondence letters/emails with their Donors through the duration of the project, allowing you to connect directly with the Muses you support and making this more than a digital transaction. Muses are also asked to provide a final performance video or music file to you and the Donors who support them. That way, you understand exactly how your support has transformed the Muses lives.
</p>

<h3>Frequently-Asked Questions</h3>
<p>
  <ul>
    <li>What happens to the money?</li>
    <li>What if the Muse doesn’t meet his/her project goal?</li>
    <li>Can I support more than one Muse?</li>
    <li>I have a lot of emails and would rather not get more email updates. Can I not get updates?</li>
    <li>Can I directly connect with the Muse? I’d love to meet him/her.</li>
    <li>What happens if a Muse drops out or discontinues music?</li>
    <li>What happens if a Muse’s project exceeds the goal?</li>
    <li>When do the funds disperse?</li>
    <li>I’m a music educator who would love for my students to learn about this. How can we become partners?</li>
    <li>How do I know my money is going to the right place?</li>
  </ul>
</p>

<p>
Excited to see how far your support can go? So are we.
</p>

<p>Questions, comments, concerns, queries? <%= link_to 'Contact Us!', contact_path %></p>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :profile_picture, 'Profile Picture', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.file_field :profile_picture, :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :firstname, 'First Name', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.text_field :firstname, :autofocus => true, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :lastname, 'Last Name', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.text_field :lastname, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :email, 'Email', :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.email_field :email, :class => 'form-control', :required => '' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password, :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.password_field :password, :class => 'form-control', :required => ''%>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation, :class => 'col-sm-2 control-label'%>
          <div class='col-sm-10'>
            <%= f.password_field :password_confirmation, :class => 'form-control', :required => ''%>
          </div>
        </div>

        <div><%= f.submit "Sign up", :class => 'btn btn-default btn-success' %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
