<div class="container">

  <div class="row">

    <div class="col-md-5">
      <!-- <img class="profile img-responsive img-rounded" src="images/profile/sample.jpg" alt="Profile Picture"> -->
      <%= image_tag @campaign.profile_picture.url, :class => 'profile img-responsive img-rounded', :alt => 'Profile Picture' %>
    </div>

    <% if student_signed_in? and current_student.id == @campaign.student_id %>
      <a href='<%= edit_campaign_path @campaign%>'>Edit Your Project</a>
      <br />
      <%= button_to 'End this project', campaign_path(@campaign), :confirm => 'are you sure?',
        :method => :delete, :class => 'btn btn-default btn-danger' %>
      <% end %>
      <div class="col-md-7">
        <h1><%= "#{@campaign.firstname} #{@campaign.lastname}"%></h1>
        <h3><%= @campaign.title %></h3>
        <h3>This project will be ending on <%= @campaign.target_date.strftime("%B #{@campaign.target_date.day.ordinalize} %Y") %>.</h3>
        <% if !@campaign.preferred_name.blank? %>
          <h5>Prefers to be called <%= @campaign.preferred_name%></h5> 
        <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Basic Info</h3>
          </div>
          <div class="panel-body">
            <p><strong>Location:</strong> <%= "#{@campaign.city}, #{@campaign.state}"%></p>
            <p><strong>Instrument:</strong> <%= @campaign.instrument%></p>
            <p><strong>Age/Grade:</strong> <%= @campaign.age%></p>
            <p><strong>Description:</strong> <%= @campaign.description %>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
      <% unless student_signed_in? %>
        <div class="col-md-5">
          <% if donor_signed_in? %>
            <%= button_to 'Support this muse', donate_path(:campaign_id => @campaign.id) %>
          <% else %>
            <%= button_to 'Support this muse', sign_in_path %>
            <b><small>You must sign up as a messenger in order to make a donation.</small></b>
          <% end %>
        <% end %>
        </div>
      <div class="col-md-7">
        <h1 style="color: black;">$<%= h @campaign.progress.to_i %> <small>raised</small></h1>
        <div class="project-progress">
          <div class="progress" style="height: 70px;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= h @campaign.progress.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= h (@campaign.progress / @campaign.target_amount.to_f) * 100 %>%;">
            </div>
          </div>
        </div>

        <div class="row project-target row-fluid show-grid">
          <div class="col-md-6">
            <h3><%= h ((@campaign.progress / @campaign.target_amount.to_f) * 100).round(1) %>% <small>complete</small></h3>
          </div>
          <div class="col-md-6">
            <h3>$<%= h @campaign.target_amount %> <small>target</small></h3>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <h4 style="padding-left: 2%;"><strong>About <%= @campaign.firstname %>:</strong></h4>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <p><%= @campaign.bio %></p>
      </div>
    </div>

  </div>
