<!DOCTYPE html>
<html>
  <head>
    <title>Project Muses</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY_PRODUCTION'] %>
    <%= yield :head %>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">		
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href='<%= root_url %>'><img src="/branding/logo_navbar.png" alt="Project Muses"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li><%= link_to 'Landing', root_url %></li> -->
          <li <% if request.path==campaigns_url %>class="active"<% end %>><%= link_to 'Muses',campaigns_url %></li>
          <li <% if request.path==muses_sign_up_url %>class="active"<% end %>><% if student_signed_in? %>
            <%= link_to 'Profile', student_url(current_student) %>
          <% else %>
            <%= link_to 'Become a Muse', muses_sign_up_url %></li>
          <% end %>
          <li <% if request.path==donors_url %>class="active"<% end %>><%= link_to 'Donors', donors_url %></li>
          <li <% if request.path==messengers_sign_up_url %>class="active"<% end %>><% if donor_signed_in? %>
            <%= link_to 'Profile', donor_url(current_donor) %> 
          <% else %>
            <%= link_to 'Become a Donor', messengers_sign_up_url %>
          <% end %></li>
          <!-- <li <% if request.path==donors_url %>class="active"<% end %>><%= link_to 'Donors', donors_url %></li> -->

          <li <% if request.path==contact_url %>class="active"<% end %>><%= link_to 'Contact Us', contact_url %></li>
          <% unless student_signed_in? or donor_signed_in? %>
            <li <% if request.path==sign_in_url %>class="active"<% end %>><%= link_to 'Login', sign_in_url %></li>
          <% else %>
            <li <% if request.path==sign_out_url %>class="active"<% end %>><%= link_to 'Logout', sign_out_url %></li>
          <% end %>
          <!-- Change this conditional to take advantage of polymorphism or exhibits? -->
        </ul>
      </div>
    </div>
    </nav>
    <% flash.each do |key, value| %>
      <% if key == :success || key == :notice %>
        <div class='alert alert-success'><%= value %></div>
      <% else %>
        <div class='alert alert-danger'><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
